/* add custom styles */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

img {
  max-width: 300px;
  max-height: 300px;
}

.actual-list {
  list-style: disc inside;
}
